[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Categories=Network;WebBrowser;
Terminal=false
Exec=$PATH/$NAME
Name=$NAME
Icon=$PATH/resources/app/icon.png
